#MacOS
.DS_Store

#Android
*.jks
*.apk
/app/release/output-metadata.json

#Firebase
google-services.json

# Android Studio / Gradle
*.iml
.gradle
/local.properties
/.idea
/app/build
/build
/captures

#Assets
/assets